menu#side-main {
    width: 60px;
    height: 100%;

    left: 0;
    top: 0;

    background-color: lightcyan;
    box-shadow: 0 5px 10px gray;

    margin: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    img#company-icon {
        width: 30px;
    }

    ul#nav-btn-list {
        //Align this vertically in the middle of the flex
        margin: auto 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            list-style-type: none;
            margin: 0;
            padding: 0;

            a {
                img {
                    width: 30px;
                }
            }
        }
    }
}